<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">greatSite</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="home">Home </a>
      </li> -->
      <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item" *ngIf="showOrganizerBoard">
        <a class="nav-link" routerLink="org">Organizer Board</a>
      <li class="nav-item" *ngIf="showUserBoard">
        <a class="nav-link" routerLink="user">User Board</a>
      <li class="nav-item">
        <a routerLink="events" class="nav-link">list</a>
      </li>
      <li class="nav-item">
        <a routerLink="eventcards" class="nav-link">show events</a>
      </li>
      <li class="nav-item" *ngIf="showAddEvent">
        <a routerLink="add" class="nav-link">add event</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li> -->
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">greatSite</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="events" class="nav-link">list</a>
      </li>
      <li class="nav-item">
        <a routerLink="eventcards" class="nav-link">show events</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">add event</a>
      </li>
    </div>
    <div class="navbar-nav mr-auto pl-9">
      <li class="nav-item">
        <a routerLink="add" class="nav-link">register</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">login</a>
      </li>
    </div>
  </nav>
  <div class="container mt-1">
    <router-outlet></router-outlet>
  </div>
</div> -->
