<div [class.dark-theme]="isDark">
    <mat-nav-list>

  <div mat-list-item  *ngIf="showAdminBoard" (click)="onSidenavClose()">
    <a class="nav-link" routerLink="admin">Admin Board</a>
  </div>

  <div mat-list-item (click)="onSidenavClose()">
    <a routerLink="eventcards" class="nav-link">show events</a>
  </div>

  <div mat-list-item *ngIf="showAddEvent" (click)="onSidenavClose()">
    <a routerLink="add" class="nav-link">add event</a>
  </div>

  <div mat-list-item id="toogleButtonDiv">
    <button id="toggleButton" mat-icon-button (click)="toggleDarkTheme()" matTooltip="Toggle dark theme">
      <mat-icon>
        brightness_6
      </mat-icon>
    </button>
</div>
</mat-nav-list>
</div>
