<div class="container">
  <header class="jumbotron">

      <img src="http://localhost:8080/images/weloveevents.jpg" alt="weloveevents">

      <div class="welcome">
      <p>
        <br>
      Welcome to EventSite. Here you will find all the events you are interested in.
      </p>
      <p>
      From Family-friendly activities to the most exciting ones, we have the perfect one for you.
      </p>
      <p>
        Sign up now to enjoy the most features of our site or use it for free as a guest.
      </p>
    </div>

  </header>
</div>
