<div *ngIf="showAddEvent">
    <form [formGroup]="form" class="submit-form" *ngIf="!submitted" appearance="fill">
    <mat-form-field >
      <mat-label for="title">Title</mat-label>
      <input matInput #title formControlName="title">

    </mat-form-field>

      <mat-form-field >
        <mat-label for="description">Description</mat-label>
        <input matInput #description formControlName="description">
      </mat-form-field>

      <mat-form-field >
        <mat-label for="category">Category</mat-label>
        <mat-select formControlName="category"
        >
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="tags">Tags</mat-label>
        <input
          matInput
          formControlName="tags">

      </mat-form-field>


      <mat-form-field>
        <mat-label for="picture">Picture</mat-label>
          <ngx-mat-file-input formControlName="content">
          </ngx-mat-file-input>
      </mat-form-field>

      <mat-form-field >
        <mat-label for="audio">Audio URL</mat-label>
        <input matInput #audio formControlName="audio">
      </mat-form-field>


      <button (click)="saveEvent()" class="btn btn-success">Submit</button>

    <div *ngIf="submitted">
      <h4>Event was submitted successfully!</h4>
    </div>
  </form>
</div>
<div *ngIf="!showAddEvent">
  Organizer Role Required!
</div>
